FileExchangerClient/Service References/FileExchangeService/service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FileExchangeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FileExchangeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="tns:ErrorCode" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseInfo" nillable="true" type="tns:ResponseInfo" />
  <xs:simpleType name="ErrorCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoError" />
      <xs:enumeration value="InternalError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ErrorCode" nillable="true" type="tns:ErrorCode" />
</xs:schema>